@import './Button.mixins';

.Button {
	@include Button_base;
	@include Button_size_normal;

	&.focus,
	&.hover,
	&:focus:not(:disabled),
	&:hover:not(:disabled) {
		@include Button_state_focus;
	}
	&.disabled,
	&:disabled {
		@include Button_state_disabled;
	}

	// include smaller mobile size automatically
	// @include mq_for_below_tablet_portrait {
	// 	&:not(.Button--small) {
	// 		@include Button_size_mobile;
	// 	}
	// }

	// default light theme, no need for theme class wrapper
	& {
		&.Button--primary {
			background-color: var(--theme-light-button-primary-background-color);
			border-color: var(--theme-light-button-primary-border-color);
			color: var(--theme-light-button-primary-color);
		}
		&.Button--secondary {
			background-color: var(--theme-light-button-secondary-background-color);
			border-color: var(--theme-light-button-secondary-border-color);
			color: var(--theme-light-button-secondary-color);
		}
	}

	// .Theme--dark &,
	// &--Theme-dark {
	// 	&.Button--primary {
	// 		background-color: var(--theme-dark-button-primary-background-color);
	// 		border-color: var(--theme-dark-button-primary-border-color);
	// 		color: var(--theme-dark-button-primary-color);
	// 	}
	// 	&.Button--secondary {
	// 		background-color: var(--theme-dark-button-secondary-background-color);
	// 		border-color: var(--theme-dark-button-secondary-border-color);
	// 		color: var(--theme-dark-button-secondary-color);
	// 	}
	// }
}

.Theme--dark, .Button--darkTheme {
	&.Button--primary {
		background-color: var(--theme-dark-button-primary-background-color);
		border-color: var(--theme-dark-button-primary-border-color);
		color: var(--theme-dark-button-primary-color);
	}
	&.Button--secondary {
		background-color: var(--theme-dark-button-secondary-background-color);
		border-color: var(--theme-dark-button-secondary-border-color);
		color: var(--theme-dark-button-secondary-color);
	}

}

.Theme {
	&--light {
		background-color: var(--theme-light-container-background-color);
		color: var(--theme-light-container-color);
	}
	&--dark {
		background-color: var(--theme-dark-container-background-color);
		color: var(--theme-dark-container-color);
	}
}