@import '../index';
@import '../utils/fonts.mixins';

body {
	@include font('body-2');
	margin: 0;
	padding: 1rem 1.5rem;
	background-color: #aaa;
	color: #222;
}
h1 {
	@include font('heading-1');
	// font-family: var(--font-family-heading);
	// font-weight: var(--font-weight-bold);
	margin: 0.25em 0;
}

pre {
	@include font('monospace');
	margin: 0.5rem 0;
	padding: 1rem 1.5rem;
	background-color: #123;
	color: #bed4e9;
	/* text-shadow: #000 0.1em 0.1em 0.1em;
	box-shadow: inset #012 0.15em 0.15em 0.25em; */
	border-radius: 5px;
	max-height: 80vh;
	overflow: auto;
}

input, select, textarea {
	@include font('input-text');
}
