/// Loops though a map to render styles
@mixin typography(
	$font-size: var(--font-size-body),
	$font-weight: var(--font-weight-medium),
	$lineHeight: var(--font-lineHeight-paragraph),
	$font-family: var(--font-family-base),
	$letterSpacing: var(--font-letterSpacing-none),
	$textTransform: var(--font-textTransform-none)
) {
	// font: #{$font-weight-bold} #{$font-size-h1}/#{$font-lineHeight-heading} var(--font-family-heading);
	font: #{$font-weight} #{$font-size}/#{$lineHeight} #{$font-family};
	letter-spacing: $letterSpacing;
	text-transform: $textTransform;
}
