$spacingBase: 0.5rem;

$spacingSizes: (0, 1, 2, 3, 4, 5, 6);

$properties: ('bottom', 'left', 'right', 'top');

@function capitalize($string) {
	@return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

[class*='margin'],
[class*='padding'] {
	outline: 1px dotted red;
}

.margin {
	// shorthand property
	@each $size in $spacingSizes {
		&\:#{$size} {
			margin: #{$size * $spacingBase};
		}
	}
	// longhand properties
	@each $property in $properties {
		@each $size in $spacingSizes {
			&#{capitalize($property)}\:#{$size} {
				margin-#{$property}: #{$size * $spacingBase};
			}
		}
	}
}

.padding {
	// shorthand property
	@each $size in $spacingSizes {
		&\:#{$size} {
			padding: #{$size * $spacingBase};
		}
	}
	// longhand properties
	@each $property in $properties {
		@each $size in $spacingSizes {
			&#{capitalize($property)}\:#{$size} {
				padding-#{$property}: #{$size * $spacingBase};
			}
		}
	}
}
